$cardColor: #FFFFFF;
$cardBorderColor: #e0e0e0;
$cardHoverBorderColor: #cccccc;
$cardMargin: 10px;
$cardHoverWidth: 2px;
$cardBorderWidth: 1px;

@mixin card-padding ($topPadding: 1rem, $bottomPadding: 1rem, $leftPadding: 2rem, $rightPadding: 2rem) {
    padding-top: $topPadding;
    padding-bottom: $bottomPadding;
    padding-left: $leftPadding;
    padding-right: $rightPadding;
}

@mixin card-header {
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

@mixin card-basic-border {
    border: solid;
    border-radius: 1rem;
}

.neu-card {
    margin-top: $cardMargin;
    margin-bottom: $cardMargin;
    margin-left: $cardMargin;
    margin-right: $cardMargin;
    @include card-padding();
    background-color: $cardColor;
    @include card-basic-border();
    border-color: $cardBorderColor;
    border-width: $cardBorderWidth $cardBorderWidth $cardBorderWidth $cardBorderWidth;
    box-shadow: -4px -4px 8px rgb(200 200 200 / 10%), 4px 4px 8px rgb(0 0 0 / 10%);

    h1 {
        @include card-padding(0.5rem, 0.5rem, 1rem, 1rem);
        @include card-header();
    }

    p {
        @include card-padding(0.25rem, 0.25rem, 0.5rem, 0.5rem);
        color: #555555;
    }
}

.neu-card:hover {
    margin-top: $cardMargin;
    margin-bottom: $cardMargin - ($cardHoverWidth - $cardBorderWidth);
    margin-left: $cardMargin;
    margin-right: $cardMargin - ($cardHoverWidth - $cardBorderWidth);
    border-color: $cardHoverBorderColor;
    border-width: $cardBorderWidth $cardHoverWidth $cardHoverWidth $cardBorderWidth;

    p {
        color: #000000;
    }
}