@import './colors';

$cardMargin: 10px;
$cardHoverWidth: 2px;
$cardBorderWidth: 0px;
$cardHeaderFontSize: 36px;
$cardFontSize: 24px;

@mixin card-margin {
    margin-top: $cardMargin;
    margin-bottom: $cardMargin;
    margin-left: $cardMargin;
    margin-right: $cardMargin;
}

@mixin card-padding ($topPadding: 20px, $bottomPadding: 20px, $leftPadding: 40px, $rightPadding: 40px) {
    padding-top: $topPadding;
    padding-bottom: $bottomPadding;
    padding-left: $leftPadding;
    padding-right: $rightPadding;
}

@mixin card-border($borderRadius) {
    /*border: solid;*/
    /*border-color: $cardBorderColor;*/
    border-radius: $borderRadius;
    border-width: $cardBorderWidth $cardBorderWidth $cardBorderWidth $cardBorderWidth;
}

@mixin card-header {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1rem;
}



/*.neu-card:hover {
    margin-top: $cardMargin;
    margin-bottom: $cardMargin - ($cardHoverWidth - $cardBorderWidth);
    margin-left: $cardMargin;
    margin-right: $cardMargin - ($cardHoverWidth - $cardBorderWidth);
    border-color: $cardHoverBorderColor;
    border-width: $cardBorderWidth $cardHoverWidth $cardHoverWidth $cardBorderWidth;

    p {
        color: #000000;
    }
}*/

/*.glass-card:hover {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(13px);
    margin-top: $cardMargin;
    margin-bottom: $cardMargin - ($cardHoverWidth - $cardBorderWidth);
    margin-left: $cardMargin;
    margin-right: $cardMargin - ($cardHoverWidth - $cardBorderWidth);
    border-color: $cardHoverBorderColor;
    border-width: $cardBorderWidth $cardHoverWidth $cardHoverWidth $cardBorderWidth;

    p {
        color: #000000;
    }
}*/

.basic-card {
    @include card-margin();
    @include card-padding();
    @include card-border(10px);
    background-color: gray(12, 1);
}

.neu-card {
    @include card-margin();
    @include card-padding();
    @include card-border(10px);
    background-color: gray(10, 1);
    box-shadow: inset -5px -5px 10px gray(12, 1), inset 5px 5px 10px gray(6, 0.3), -5px -5px 10px gray(12, 0.2), 5px 5px 10px gray(0, 0.3);

    h1 {
        @include card-padding(5px, 5px, 10px, 10px);
        @include card-header();
        font-size: $cardHeaderFontSize;
        color: $colorNeuCardFontH;
    }

    p {
        @include card-padding(10px, 10px, 10px, 10px);
        color: $colorNeuCardFontP;
        font-size: $cardFontSize;
    }

    img {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
        max-width: 300px;
        max-height: 300px;
        border-radius: 20px;
        border: solid;
        border-color: #cccccc;
        border-width: 2px 3px 3px 2px;
    }
}

.glass-card {
    @include card-margin();
    @include card-padding();
    @include card-border(10px);
    border-width: 1px 2px 2px 1px;
    border-color: #ffffff05;
    background-color: gray(12, 0.3);
    box-shadow: inset -10px -10px 20px gray(6, 0.1), inset 10px 10px 20px gray(6, 0.1), -5px -5px 10px gray(6, 0.1), 5px 5px 10px gray(6, 0.1);
    backdrop-filter: blur(10px);

    h1 {
        @include card-padding(5px, 5px, 10px, 10px);
        @include card-header();
        font-size: $cardHeaderFontSize;
        color: $colorNeuCardFontH;
    }

    p {
        @include card-padding(10px, 10px, 10px, 10px);
        font-size: $cardFontSize;
        color: $colorNeuCardFontP;
    }

    img {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
        max-width: 300px;
        max-height: 300px;
        border-radius: 20px;
        border: solid;
        border-color: #cccccc;
        border-width: 2px 3px 3px 2px;
    }
}