@import './colors';

.text-middle {
    text-align: center;
}

.mainpage-basic {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-left: 10%;
}

.content-basic {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: gray(3,1);
    width: 100%;
    margin-top: 100px;
    border-radius: 20px;
}

.navbar-basic {
    z-index: 99;
    position: fixed;
    top: 0;
    background-color: gray(0,1);
    width: 100%;
    height: 100px;
}

.sidebar-basic {
    z-index: 99;
    position: fixed;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray(0,1);
    width: 10%;
    height: 100%;

    i {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        stroke-width: 1px;
    }
}

.overlay-glass{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: gray(0, 0.9);
    backdrop-filter: blur(20px);
}