@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat-Italic;
    src: url(./fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

$mainColor: #F0F2F5;
$mainLightColor: #F0F2F5;
$mainDarkColor: #282424;
$mainFontFamily: Montserrat;

$colorPrestige: #0e0e23;
$colorPrestigeBlue: #4255d4;
$colorPrestigeRed: #ef415c;
$colorPrestigeYellow: #EF8741;
$colorPrestigeHeader: #10122b;
$colorPrestigeCard: radial-gradient(circle, #1a2049 0%, #13162f 100%);
$prestigeFontFamily: "Inter", sans-serif;
$colorPrestigeFontColor: #9b9ca7;
$colorPrestigeFontColorFocus: #e7e8ea;
$colorPrestigeFontColorDanger: #d14b69;
$colorPrestigeFontColorDangerFocus: #e85471;
$colorPrestigeFontColorActive: #1aa385;
$colorPrestigeFontColorActiveFocus: #17a98a;
$colorPrestigeFontColorBlue: #3E4EC2;
$colorPrestigeFontColorBlueFocus: #3e50c5;