/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Montserrat-Italic;
  src: url(./fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
.text-middle {
  text-align: center;
}

@-webkit-keyframes header-focus {
  from {
    letter-spacing: 3px;
  }
  to {
    letter-spacing: 1px;
  }
}

@keyframes header-focus {
  from {
    letter-spacing: 3px;
  }
  to {
    letter-spacing: 1px;
  }
}
.neu-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: solid;
  border-radius: 15px;
  border-color: #e0e0e0;
  border-width: 0px 0px 0px 0px;
  background-color: #FFFFFF;
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.05), 8px 8px 16px rgba(0, 0, 0, 0.1);
}
.neu-card h1 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 36px;
}
.neu-card p {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #555555;
  font-size: 24px;
}
.neu-card img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 20px;
}

.neu-card:hover {
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-right: 8px;
  border-color: #cccccc;
  border-width: 0px 2px 2px 0px;
}
.neu-card:hover p {
  color: #000000;
}

.glass-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: solid;
  border-radius: 15px;
  border-color: #e0e0e0;
  border-width: 0px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.glass-card h1 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 36px;
}
.glass-card p {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #555555;
  font-size: 24px;
}
.glass-card img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 20px;
}

.glass-card:hover {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
}
.glass-card:hover p {
  color: #000000;
}

body {
  font-family: Montserrat;
  height: 100vh;
  /* background-color: $mainColor; */
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}/*# sourceMappingURL=style.css.map */