/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Montserrat-Italic;
  src: url(./fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
.text-middle {
  text-align: center;
}

.mainpage-basic {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin-left: 10%;
}

.content-basic {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(58, 58, 60);
  width: 100%;
  margin-top: 100px;
  border-radius: 20px;
}

.navbar-basic {
  z-index: 99;
  position: fixed;
  top: 0;
  background-color: rgb(12, 12, 14);
  width: 100%;
  height: 100px;
}

.sidebar-basic {
  z-index: 99;
  position: fixed;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(12, 12, 14);
  width: 10%;
  height: 100%;
}
.sidebar-basic i {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  stroke-width: 1px;
}

.overlay-glass {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(12, 12, 14, 0.9);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

@keyframes header-focus {
  from {
    letter-spacing: 3px;
  }
  to {
    letter-spacing: 1px;
  }
}
/*.neu-card:hover {
    margin-top: $cardMargin;
    margin-bottom: $cardMargin - ($cardHoverWidth - $cardBorderWidth);
    margin-left: $cardMargin;
    margin-right: $cardMargin - ($cardHoverWidth - $cardBorderWidth);
    border-color: $cardHoverBorderColor;
    border-width: $cardBorderWidth $cardHoverWidth $cardHoverWidth $cardBorderWidth;

    p {
        color: #000000;
    }
}*/
/*.glass-card:hover {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(13px);
    margin-top: $cardMargin;
    margin-bottom: $cardMargin - ($cardHoverWidth - $cardBorderWidth);
    margin-left: $cardMargin;
    margin-right: $cardMargin - ($cardHoverWidth - $cardBorderWidth);
    border-color: $cardHoverBorderColor;
    border-width: $cardBorderWidth $cardHoverWidth $cardHoverWidth $cardBorderWidth;

    p {
        color: #000000;
    }
}*/
.basic-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  /*border: solid;*/
  /*border-color: $cardBorderColor;*/
  border-radius: 10px;
  border-width: 0px 0px 0px 0px;
  background-color: rgb(242, 242, 247);
}

.neu-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  /*border: solid;*/
  /*border-color: $cardBorderColor;*/
  border-radius: 10px;
  border-width: 0px 0px 0px 0px;
  background-color: rgb(209, 209, 214);
  box-shadow: inset -5px -5px 10px rgb(242, 242, 247), inset 5px 5px 10px rgba(142, 142, 147, 0.3), -5px -5px 10px rgba(242, 242, 247, 0.2), 5px 5px 10px rgba(12, 12, 14, 0.3);
}
.neu-card h1 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 36px;
  color: #e7e8ea;
}
.neu-card p {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #9b9ca7;
  font-size: 24px;
}
.neu-card img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 20px;
  border: solid;
  border-color: #cccccc;
  border-width: 2px 3px 3px 2px;
}

.glass-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  /*border: solid;*/
  /*border-color: $cardBorderColor;*/
  border-radius: 10px;
  border-width: 0px 0px 0px 0px;
  border-width: 1px 2px 2px 1px;
  border-color: rgba(255, 255, 255, 0.0196078431);
  background-color: rgba(242, 242, 247, 0.3);
  box-shadow: inset -10px -10px 20px rgba(142, 142, 147, 0.1), inset 10px 10px 20px rgba(142, 142, 147, 0.1), -5px -5px 10px rgba(142, 142, 147, 0.1), 5px 5px 10px rgba(142, 142, 147, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.glass-card h1 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 36px;
  color: #e7e8ea;
}
.glass-card p {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  color: #9b9ca7;
}
.glass-card img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 20px;
  border: solid;
  border-color: #cccccc;
  border-width: 2px 3px 3px 2px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Montserrat;
  background-color: rgb(12, 12, 14);
}/*# sourceMappingURL=style.css.map */