@import './reset';
@import './variables';
@import './layouts';
@import './animations';
@import './cards';

body{
    font-family: $mainFontFamily;
    height: 100vh;
    /* background-color: $mainColor; */
    background-image: linear-gradient(to right top, #d16b6b, #d87a6b, #dd8a6e, #e19972, #e4a979, #e8b378, #ebbe77, #ebc977, #e8d46c, #e0e064, #d2ed5f, #befb5f);
}